body{
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
@font-face{
    font-family: "wyh";
    src: url(../font/WashYourHand.otf);
}
:root{
    --clr-brown: #623821;
}
.ground{
    width: 200px;
    height: 50px;
    background: url(../img/ground.png) bottom no-repeat;
    background-size: cover;
    background-size: 200px;
    background-position-y: -10px;
    position: absolute;
    display: block;
    z-index: 2;
    overflow: hidden;
    margin-top: 100px;
}

.mouse{
    background: url(../img/mouse.png);
    width: 200px;
    height: 150px;
    background-size: 200px;
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    z-index: 1;
    transition: all .2s ease;
    margin-top: 200px;
}

.block{
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.mouse-show{
    transition: all .2s ease !important;
    margin-top: 0px !important;
}
.board{
    cursor: url('../img/hammer-up.png'), auto;
    width: 600px;
}
.board:active{
    cursor: url('../img/hammer-down.png'), auto;
}
.white-card{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    z-index: 4;
    border-radius: 20px;
    width: 90%;
}

.font-style{
    font-family: wyh;
    font-size: 60px;
    text-align: center;
    line-height: 40px;
}
.btn-brown, .btn-brown:active{
    background-color: var(--clr-brown);
    color: #ffffff;
}
.btn-brown:hover{
    background-color: #814f35;
    color: #ffffff;
}
.link{
    color: var(--clr-brown);
    font-weight: 500;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}

.in-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 100%;
    height: 100vh;
    background-color: #00000062;
    z-index: 3;
}
#preTime{
    font-family: wyh;
    font-size: 300px;
    color: white;
    transition: all 0.1s ease;
}

@media (max-width: 622px) {
    body{
        background-size: 700px;
    }
}