body{
    background: url(../img/background.png);
    background-size: cover;
}
@font-face{
    font-family: "wyh";
    src: url(../font/WashYourHand.otf);
}
.ground{
    width: 200px;
    height: 50px;
    background: url(../img/ground.png) bottom no-repeat;
    background-size: cover;
    background-size: 200px;
    background-position-y: -10px;
    position: absolute;
    display: block;
    z-index: 2;
    overflow: hidden;
    margin-top: 100px;
}

.mouse{
    background: url(../img/mouse.png);
    width: 200px;
    height: 150px;
    background-size: 200px;
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    z-index: 1;
    transition: all .2s ease;
    margin-top: 200px;
}

.block{
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.mouse-show{
    transition: all .2s ease !important;
    margin-top: 0px !important;
}
.board{
    cursor: url('../img/hammer-up.png'), auto;
    width: 600px;
}
.board:active{
    cursor: url('../img/hammer-down.png'), auto;
}
.white-card{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    z-index: 3;
    border-radius: 20px;
    width: 90%;
}

.font-style{
    font-family: wyh;
    font-size: 60px;
    text-align: center;
    line-height: 40px;
}
.btn-brown{
    background-color: #623821;
    color: #ffffff;
}
.btn-brown:hover{
    background-color: #814f35;
    color: #ffffff;
}
.link{
    color: #623821;
    font-weight: 500;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}